{% for product in  section.settings.collection.products %}
  <h1>yes</h1>
  <h1>
    {{ product.title }}
    {{ product.url }}
  </h1>
{% endfor %}

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Featured collection"
    }
  ]
}
{% endschema %}