{% for product in  section.settings.collection.products %}
  <p>
    <a href="{{ product.url }}">{{ product.title }}</a>
  </p>
  <img src="{{ product.featured_image | img_url: "1000x" }}" loading="lazy" alt="{{ product.title }}" width="300" height="300"/>
{% endfor %}

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Featured collection"
    }
  ]
}
{% endschema %}